body {
    background-color: black;
     font-family: 'Noto Sans KR', sans-serif;
}
*{
    font-size:15px;
    letter-spacing:-0.02em;
}
.card-body{
    padding-left: 0;
}
#contentArea{
    box-sizing: border-box;
    margin-left:17rem;
    margin-right:0rem;
    padding-top: 2rem;
    padding-left:2rem;
    padding-right:2rem;
}
#videoArea{
    box-sizing: border-box;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-left:2rem;
    padding-right:2rem;
    justify-content: center;
}
.navbar {
    background-color: black !important;
    padding-left: 0rem;
    padding-right: 1rem;
    height: 4rem;
    z-index: 30;
}
.second-navbar {
    margin-top: 4rem;
    margin-left: 17rem;
    z-index: 10;
    height: 3rem;
    padding-left: 1rem;
}
._sidebar {
    background-color: black !important;
    display: inline-flex;
    position: fixed;
    
}
#sidebar_listLayout {
    justify-content: left;
    align-items: start;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 17rem;
}
.scroll-vertical::-webkit-scrollbar {
    width: 8px;
    top: 80px;
}

.scroll-vertical::-webkit-scrollbar-track {
    background: #1a1a1a;
}

.scroll-vertical::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}
.scroll-vertical::-webkit-scrollbar-thumb:hover {
    background: #666;
}


.scroll-horizontal::-webkit-scrollbar {
    width: 8px;
    top: 80px;
}

.scroll-horizontal::-webkit-scrollbar-track {
    background: #1a1a1a;
}

.scroll-horizontal::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 4px;
}
.scroll-horizontal::-webkit-scrollbar-thumb:hover {
    background: #666;
}







#search-form {
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

#center {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#left {
    display: flex;
    width: 25%;
    justify-content: left;
    align-items: center;
}

#right {
    display: flex;
    width: 25%;
    justify-content: right;
    align-items: center;
}


.content-card{
    margin-bottom: 1rem;
    border: none;
    background-color: black;
}
.content-card:hover{
     top:-2.5%;
    left:-2.5%;
    width:105%;
    
    width:105%;
}
