<div class="row row-cols-3 justify-content-between " style="margin-top:4rem;" id="contentArea">
    <div class="col" style="position: relative; ">
        <h4 style="color:white;">최신순</h1>
    </div>
    <div class="col" style="position: relative;">
    </div>
    <div class="col" style="position: relative; text-align: right; margin-bottom: 1rem;">
        <a class="btn round-btn" style="width:4rem; height:2.5rem; color:rgb(79, 170, 255);">관리</a>
        <a class="btn btn-dark bi bi-grid-3x2-gap-fill round-btn"
            style="font-size: 1.5rem; width:2.5rem; height:2.5rem;"></a>
        <a class="btn btn-dark bi bi-list-task round-btn" style=" width:2.5rem; height:2.5rem; "></a>
    </div>

</div>